{$PUBLIC_HOST} {
	encode zstd gzip
	header {
		Strict-Transport-Security "max-age=15552000"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
		Referrer-Policy "strict-origin-when-cross-origin"
	}
	reverse_proxy server:8080
}
